<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.TbCategoryMapper">
    <resultMap id="BaseResultMap" type="po.TbCategory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="manager_id" property="managerId" jdbcType="INTEGER"/>
        <result column="catName" property="catname" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="is_parent" property="isParent" jdbcType="INTEGER"/>
        <result column="createDate" property="createdate" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, manager_id, catName, parent_id, is_parent, createDate
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="po.TbCategoryExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from tb_category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_category
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="po.TbCategoryExample">
        delete from tb_category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="po.TbCategory">
    insert into tb_category (id, manager_id, catName, 
      parent_id, is_parent, createDate
      )
    values (#{id,jdbcType=INTEGER}, #{managerId,jdbcType=INTEGER}, #{catname,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{isParent,jdbcType=INTEGER}, #{createdate,jdbcType=BIGINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="po.TbCategory">
        insert into tb_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="managerId != null">
                manager_id,
            </if>
            <if test="catname != null">
                catName,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="isParent != null">
                is_parent,
            </if>
            <if test="createdate != null">
                createDate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="managerId != null">
                #{managerId,jdbcType=INTEGER},
            </if>
            <if test="catname != null">
                #{catname,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="isParent != null">
                #{isParent,jdbcType=INTEGER},
            </if>
            <if test="createdate != null">
                #{createdate,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="po.TbCategoryExample" resultType="java.lang.Integer">
        select count(*) from tb_category
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update tb_category
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.managerId != null">
                manager_id = #{record.managerId,jdbcType=INTEGER},
            </if>
            <if test="record.catname != null">
                catName = #{record.catname,jdbcType=VARCHAR},
            </if>
            <if test="record.parentId != null">
                parent_id = #{record.parentId,jdbcType=INTEGER},
            </if>
            <if test="record.isParent != null">
                is_parent = #{record.isParent,jdbcType=INTEGER},
            </if>
            <if test="record.createdate != null">
                createDate = #{record.createdate,jdbcType=BIGINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update tb_category
        set id = #{record.id,jdbcType=INTEGER},
        manager_id = #{record.managerId,jdbcType=INTEGER},
        catName = #{record.catname,jdbcType=VARCHAR},
        parent_id = #{record.parentId,jdbcType=INTEGER},
        is_parent = #{record.isParent,jdbcType=INTEGER},
        createDate = #{record.createdate,jdbcType=BIGINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="po.TbCategory">
        update tb_category
        <set>
            <if test="managerId != null">
                manager_id = #{managerId,jdbcType=INTEGER},
            </if>
            <if test="catname != null">
                catName = #{catname,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="isParent != null">
                is_parent = #{isParent,jdbcType=INTEGER},
            </if>
            <if test="createdate != null">
                createDate = #{createdate,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="po.TbCategory">
    update tb_category
    set manager_id = #{managerId,jdbcType=INTEGER},
      catName = #{catname,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      is_parent = #{isParent,jdbcType=INTEGER},
      createDate = #{createdate,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>