/*admin.html*/
.Menu_list {
    margin-top: 10px;
    text-align: center;
}

.Cont_center {
    text-align: center;
}

/*loanList.html*/
.loan
    /*loan_addBook.jsp*/
.loan_addBook_Context {
    width: 500px;
    height: auto;
    margin: 0 auto;
}








